<a href="https://colab.research.google.com/github/Sadash33/DyAA_1511_2022/blob/main/Hashing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def tabla_hash(Tablahash):
  for i in range(len(Tablahash)):
    print(i, end = " ")

    for j in Tablahash[i]:
      print("-->", end = " ")
      print(j, end = " ")

    print()

array = [[] for x in range(23)]

def hashing(llave):
  return llave % len(array)

def insert(TablaH, llave, valor):
  hash = hashing(llave)
  TablaH[hash].append(valor)



insert(array, 415, "Fresa")
insert(array, 520, "Manzana")
insert(array, 40, "Platano")
insert(array, 123, "Coco")
insert(array, 215, "Mora")
insert(array, 23, "Elote")

tabla_hash(array)

0 --> Elote
1 --> Fresa
2
3
4
5
6
7
8 --> Coco --> Mora
9
10
11
12
13
14 --> Manzana
15
16
17 --> Platano
18
19
20
21
22