<a href="https://colab.research.google.com/github/Sadash33/DyAA_1511_2022/blob/main/Sort_BigO_1511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Burbuja

In [ ]:
info = [9, 324, 234, 5,12, 5412, 53, 674, 15, 623, 8, 3, 7 ,1, 45, 64, 123, 6, 4]
#info = [8, 5, 9, 3]
#Range(<inicio><stop><int>)
#Range(3, 0, -1)
#intercambio -----> a, b = b, a

def burbuja(data): #MO(n)  PO(1)
  tam = len(data) #MO(1)  PO(1)
  for tope in range(tam-1, 0, -1): #MO(1)  PO(na)
    for pivote in range(tope): #MO(1)  PO(na)
      if data[pivote] > data[pivote + 1]: 
        data[pivote], data[pivote + 1] = data[pivote + 1], data[pivote] 
        #MO(0)  PO(2n^2)
  return data #MO(0)  PO(1)

#MO(n)  PO(n^2)

print(burbuja(info))


#Posibles BigO
#MO(340)  PO(15) con lista de 14 elementos.
#MO(n)  PO(3n)
#MO(n)  PO(n^2) -----> Respuesta correcta.

[1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 623, 674, 5412]

#Selection

In [ ]:
def selection_sort(data): #MO(n)  PO(1)
  for pivote in range(len(data)): #MO(1)  PO(na)
    min = pivote # Posición del menor #MO(1)  PO(n)
    for index in range(pivote, len(data), 1): #MO(1)  PO(na)
      if data[index] < data[min]: #MO(0)  PO(na)
        min = index #MO(0)  PO( n^2)
    data[pivote], data[min] = data[min], data[pivote] #MO(0)  PO(2 * )
    print(f"-----> {data} <-----") #MO(0)  PO(0)

  return data #MO(0)  PO(1)

 #Total: MO(n)  PO(1 + n + n^2 + 2n + 1) -----> PO(n^2 + n) -----> PO(n^2)

#info = [8, 5, 9, 3]
info = [9, 324, 234, 5,12, 5412, 53, 674, 15, 623, 8, 3, 7 ,1, 45, 64, 123, 6, 4]
print(selection_sort(info))

-----> [1, 324, 234, 5, 12, 5412, 53, 674, 15, 623, 8, 3, 7, 9, 45, 64, 123, 6, 4] <-----
-----> [1, 3, 234, 5, 12, 5412, 53, 674, 15, 623, 8, 324, 7, 9, 45, 64, 123, 6, 4] <-----
-----> [1, 3, 4, 5, 12, 5412, 53, 674, 15, 623, 8, 324, 7, 9, 45, 64, 123, 6, 234] <-----
-----> [1, 3, 4, 5, 12, 5412, 53, 674, 15, 623, 8, 324, 7, 9, 45, 64, 123, 6, 234] <-----
-----> [1, 3, 4, 5, 6, 5412, 53, 674, 15, 623, 8, 324, 7, 9, 45, 64, 123, 12, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 53, 674, 15, 623, 8, 324, 5412, 9, 45, 64, 123, 12, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 674, 15, 623, 53, 324, 5412, 9, 45, 64, 123, 12, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 15, 623, 53, 324, 5412, 674, 45, 64, 123, 12, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 623, 53, 324, 5412, 674, 45, 64, 123, 15, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 53, 324, 5412, 674, 45, 64, 123, 623, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 324, 5412, 674, 53, 64, 123, 623, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 5412, 674, 324, 64, 123, 623, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 674, 324, 5412, 123, 623, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 324, 5412, 674, 623, 234] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 5412, 674, 623, 324] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 674, 623, 5412] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 623, 674, 5412] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 623, 674, 5412] <-----
-----> [1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 623, 674, 5412] <-----
[1, 3, 4, 5, 6, 7, 8, 9, 12, 15, 45, 53, 64, 123, 234, 324, 623, 674, 5412]

# Insertion Sort
Como cuando juegas cartas

In [ ]:
def insertion_sort(data): #MO(n)  PO(1)
  print(f"original {data}") #MO(0)  PO(1)
  #Lógica
  for pivote in range(1, len(data), 1): #MO(1)  PO(na)
    for index in range(0, pivote + 1, 1): #MO(1)  PO(na)
      if data[pivote] < data[index]: #MO(0)  PO(na)
        tmp = data[pivote] #MO(1)  PO(n) 
        #Recorrer a la derecha
        for i in range(pivote, index, -1):#MO(1)  PO(na) 
          data[i] = data[i - 1] #MO(0)  PO(n * m)
        data[index] = tmp #MO(0)  PO(n)
    print(f"Posición {pivote} -----> {data} <-----") #MO(0)  PO(1)
  return data #MO(0)  PO(1)


#MO(n + 3)  PO(4 + 2n + n * m) ----->
#Regla 2: MO(n + 3)  PO(4 + 2n + n^2)
#Regla 3: MO(n)  PO(n + n^2)
#Final: MO(n)  PO(n^2)


info = [10, 51, 2, 18, 4, 31, 12, 5]

insertion_sort(info)

original [10, 51, 2, 18, 4, 31, 12, 5]
Posición 1 -----> [10, 51, 2, 18, 4, 31, 12, 5] <-----
Posición 2 -----> [2, 10, 51, 18, 4, 31, 12, 5] <-----
Posición 3 -----> [2, 10, 18, 51, 4, 31, 12, 5] <-----
Posición 4 -----> [2, 4, 10, 18, 51, 31, 12, 5] <-----
Posición 5 -----> [2, 4, 10, 18, 31, 51, 12, 5] <-----
Posición 6 -----> [2, 4, 10, 12, 18, 31, 51, 5] <-----
Posición 7 -----> [2, 4, 5, 10, 12, 18, 31, 51] <-----

[2, 4, 5, 10, 12, 18, 31, 51]

# Merge Sort

In [9]:
def mergeSort(data):
  tam = len(data)
  #print(f"Recibido: {data}")
  if tam == 1: #caso base de recursividad
    return data

  
  mid = tam // 2
  D = mergeSort(data[0:mid:1])
  I = mergeSort(data[mid::1])
  #print(f"{I}\t\t {D}")
  return merge(I, D)


def merge(I, D):
  resultado = [0] * (len(I) * len(D))
  i = 0
  d = 0
  r = 0
  while i < len(I) and d < len(D):

In [10]:
numeros = [10, 51, 2, 18, 4, 31, 12, 5]
mergeSort(numeros)

Recibido: [10, 51, 2, 18, 4, 31, 12, 5]
Recibido: [10, 51, 2, 18]
Recibido: [10, 51]
Recibido: [10]
Recibido: [51]
[51]		 [10]
Recibido: [2, 18]
Recibido: [2]
Recibido: [18]
[18]		 [2]
None		 None
Recibido: [4, 31, 12, 5]
Recibido: [4, 31]
Recibido: [4]
Recibido: [31]
[31]		 [4]
Recibido: [12, 5]
Recibido: [12]
Recibido: [5]
[5]		 [12]
None		 None
None		 None

In [2]:
#Slicing
#Sirve para sacar rebanadas de un iterable 

frutas = ["peras", "manzanas", "kiwi", "limon", "aguacate", "uva", "sandia"]
print(frutas[0:3:1])

['peras', 'manzanas', 'kiwi']